<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="/javascripts/jquery-1.11.2.min.js"></script>
</head>
<body>
<div class="container">
<h1><%= title %></h1>
<br>

<table class="table table-striped">
    <tr>
        <td>번호</td>
        <td>작성자</td>
        <td>제목</td>
        <td>조회수</td>
        <td>변경일</td>
    </tr>

<%
     for(var i=0; i<rows.length; i++) {
     var list = rows[i];
%>
    <tr>
        <td><%=list.idx%></td>
        <td><%=list.creator_id%></td>
        <td><a href="/board/read/<%=list.idx%>"><%=list.title%></a></td>
        <td><%=list.hit%></td>
        <td><%=list.modidate%></td>
    </tr>

<%
     }
%>
</table>

<button type="button" class="btn btn-primary" onclick="location.href='/board/write'">글쓰기</button>
</div>
</body>
</html>