<!DOCTYPE html>
<html>
<head>
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1><%= title %></h1>
<br>

<form id="updateForm" action="/board/update" method="get">
    <table class="table table">
        <input type="hidden" name="idx" value="<%=row.idx%>"/>
        <tr>
            <td>작성자</td>
            <td><%=row.creator_id%></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><%=row.title%></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><%=row.content%></td>
        </tr>
        <tr>
            <td>변경일</td>
            <td><%=row.modidate%></td>
        </tr>
        <tr>
            <td>조회수</td>
            <td><%=row.hit%></td>
        </tr>
	<tr></tr>
    </table>
    		<button type="button" class="btn btn-primary" onclick="fnUpdate()">글 수정</button>		
		<button type="button" class="btn btn-info" onclick="location.href='/board'">리스트</button>        
</form>
</div>

</body>
<script>
function fnUpdate() {
	$("#updateForm").submit();
}

</script>

</html>